[submodule "bundle/neobundle.vim"]
	path = bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "dein/repos/github.com/Shougo/dein.vim"]
	path = dein/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim
